.create-card-setting-wrapper {
  padding-left: 0;
  padding-right: 0;

  h1 {
    &.community-item-name {
      margin-bottom: 0;
      padding: 0.25em 0;
      position: relative;
      top: -0.5em;
      display: inline-block;
    }

    &.solution-header {
      font-size: 1.5em;
      font-weight: normal;
    }
  }

  .has-furigana h1 {
    top: -0.75em;
    padding: 0;
  }

  p.parts-of-speech {
    font-style: italic;
    font-size: var(--font-ui-smaller);
    line-height: var(--line-height-tight);
    margin-bottom: 0;
  }

  p,
  ul {
    margin-block-start: 0.4em;
  }
}